/* Original CSS code */
.box {
    background-color: aquamarine;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

/* display: flex; */
.flex-container {
    display: flex;

    /*justify-content*/
    justify-content: center;

    /* flex-wrap */
    flex-wrap: wrap;

    /* align-items */
    align-items: flex-end;

    /* gap */
    gap: 10px;

    /* flex */
    flex: 0 1 auto;
}

.box3 {
    background-color: blanchedalmond;

    /* align-self */
    align-self: center;

    /* flex */
    flex: 1 1 auto;
}