/* Original CSS code */
.box {
    background-color: aquamarine;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

/* display: flex; */
.flex-container {
    display: flex;
    /*justify-content*/
    justify-content: center;
}