/* Original CSS code */
.box {
    background-color: aquamarine;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

/* display: flex; */
.flex-container {
    display: flex;
    
    /*justify-content*/
    justify-content: center;
    
    /* flex-wrap */
    flex-wrap: wrap;

    /* flex-direction */
    flex-direction: column;

    /* align-items */
    align-items: flex-end;
}

.box3 {
    background-color: blanchedalmond;

    /* align-self */
    align-self: center;
}